<div class="uk-container">
  <div class="main users-edit">
    <div class="container">
      <div class="form-heading">アカウント編集</div>
        <div class="form-body">
          <!-- フォームの送信先を指定してください -->
        <%= form_tag("/users/#{@user.id}/update", {multipart: true})do %>
          <h2>画像</h2>
          <input type="file" name="image">
          <p>ユーザー名</p>
          <!-- name属性を設定してください -->
          <input name="name" value="<%= @user.name %>">
          <p>メールアドレス</p>
          <input name="email" value="<%= @user.email %>">
          <input type="submit" value="保存">
        <% end %>
        </div>
    </div>
  </div>
</div>
