<header>
  <div class="header-logo">
    <a href="/">NOGI BOARD</a>
  </div>

  <ul>
    <ul class="header-menu">
      <li>
      <a href="#">ログアウト</a>
      </li>
      <li>
        <a href="#">新規投稿</a>
      </li>
    </ul>
  </ul>
</header>

<% users =
  [
    "白石麻衣",
    "西野七瀬"
    ]
%>

<div class="uk-container">
  <% users.each do|user| %>

    <div class="main users--index">
      <div class="container">
        <div class="users-index-item">

          <%= user %>
          <div class="user-right">
          </div>
        </div>
      </div>
  <% end %>
</div>

<!--どこかにlink_toを挿入して、indexから詳細ページに飛べるようにする！>
