
<div class="uk-container">
  <div class="main-users-login">
    <div class="login-container">
      <div class="form-heading">NOGIBOARDにログイン</div>
        <div class="login-form">
          <div class="form-body">
            <% if @error_message %>
              <div class="form-error">
                <%= @error_message %>
              </div>
            <% end %>
          </div>
          <div class="login-forms">
            <%= form_tag("/login")do %>
              <p>メールアドレス</p>
              <input class= "uk-input" name="email" value="<% @email %>">
              <p>パスワード</p>
              <input class= "uk-input" type="password" name="password" value="<% @password %>">

              <div class="login-button">
                <input type="submit" class="uk-button uk-button-primary" value="ログイン">
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
