
<div class="topimage">
  <%= image_tag("home/Untitled@3x.jpg", width: 1000, height: 500, alt: 'NOGIBOARD') %>
</div>

<div class="top-content">
  <p>NOGI BOARD（のぎボード）は、乃木坂メンバーがメンバー間のみで使うSNSです。</p>
</div>
