<div class="main-edit-posts">
  <div class="container">
    <div class="edit">
      <%= form_tag("/posts/#{@post.id}/update")do %>
        <% @post.errors.full_messages.each do |message| %>
          <div class="form-error">
          <%= message %>
          </div>
        <% end %>
        
        <div class="uk-margin-edit">
          <textarea class="uk-textarea" name="content" rows="14" cols="140"><%= @post.content %></textarea>
        </div>
        <div class="uk-margin">
          <input type="submit" class="uk-button uk-button-primary" value="保存">
        </div>
      <% end %>
    </div>
  </div>
</div>
