<div class="posts-uk-container">
  <div class="main-posts-index">
    <div class="posts-container">
      <h1 class="posts-heading">投稿一覧</h1>
      <% @posts.each do |post| %>
        <% if post.user.blank? %>
          <% next %>
        <%end%>

        <div class="posts-index-item">
          <div class="posts-left">
            <%= content_tag :div, nil, class: 'posts-left', style: %Q(background-image: url('#{asset_path post.user.image_name}')) %>
          </div>
          <div class="posts-content">
            <div class="posts-right">
              <div class="post-user-name">
                <% link_to(post.user.name, "/users/#{post.user.id}") %>
                <%= link_to(post.content,"/posts/#{post.id}")%>
              </div>
            </div>
            <div class="posts-show-item">
              <% if post.image_name %>
                <%= image_tag "/post_images/#{post.image_name}" %>
              <%end%>
            </div>
          </div>
        </div>
          <%#= post.inspect %>
      <% end %>
    </div>
  </div>
</div>
