<div class="uk-container">
  <div class="main posts-index">
    <div class="container">
      <h1 class="posts-heading">投稿一覧</h1>
      <% @posts.each do |post| %>

        <div class="posts-left">
          <%= image_tag "/user_images/#{post.user.image_name}", width: "120" ,style: "border-radius: 50%; " %>
        </div>

        <div class="post-right">
          <div class="post-user-name">
            <% link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        </div>

        <div class="post-show-item">
          <% if post.image_name %>
            <%= image_tag "/post_images/#{post.image_name}", width: "120" %>
          <%end%>
          <%= link_to(post.content,"/posts/#{post.id}")%>
        </div>
          <%#= post.inspect %>
      <% end %>
    </div>
  </div>
</div>
