// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e2c5d7;
}

.topimage {
  text-align: center;
  margin-top: 20px;
}

.top-content p {
  font-size: 18px;
  text-align: center;
  color: #070607;
  margin-top: 30px;
  font-weight: bold;
}
