
.main-users-login {
  text-align: center;
}

.form-heading {
  margin-top: 30px;
  font-weight: bold;
  font-size: 24px;
  color: #070607;

}

.login-form {
  display: block;
}



.login-forms {
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}


.login-button input {
  margin-top: 30px;
  font-size: 32px;
}
