
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 100vh;
}


.user-show-item {
  margin: 0 auto;
}

.user-icon {
  background-image: url();
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  margin-top: 50px;
}

.user-name h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.user-email p {
  text-align: center;
  font-size: 16px;
  color: #070607;
}

.user-link {
  text-align: center;
}

.user-posts {
    padding: 20px 0px;
    background-color: white;
    box-shadow: 0 3px 10px #c1ced7;
    overflow: hidden;
    margin: 0 auto;
    max-width: 520px;
}


.user-posts-p {
  color: #070607;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 40px;
}


.user-post-userimg img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}


.user-content-and-img {
  justify-content:flex-start;
  box-shadow: 0 1px 2px #c1ced7;
}

.user-posts-img {
  max-width: 400px;
  margin-left: 30px;
}


.user-and-content {
  display: flex;
}


.user-tabs {
  font-weight: bold;
  color: #070607;
  text-align: center;
  background-color: white;
  box-shadow: 0 3px 10px #c1ced7;
  overflow: hidden;
  max-width: 520px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: stretch;
}

.user-tabs a {
  flex-grow: 1;//余白の割り振りをどうするか指定→全てに１（均等割）した
}

.user-tabs a div {
  padding: 20px;
}

.user-tabs .last {
  border-left:1px solid #c1ced7;
}


.user-content {
  display: flex;

}

.user-content img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.user-content-img {
  box-shadow: 0 1px 3px #c1ced7;
}

.user-posts-img img {
  margin-bottom: 30px;
}

@media(max-width:675px){

}
