.post-new-index {
  max-width: 500px;
  margin: 0 auto;
}

.form-body h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.text-box textarea {
  width: 400px;
  height: 150px;
  margin-top: 30px;
}

.text-button input {
  margin-top: 20px;
  font-size: 32px;

}
