.post-new-index {
  max-width: 520px;
  margin: 0 auto;
}

.post-new-index h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}


.text-button input {
  margin-top: 20px;
  font-size: 32px;

}

.uk-form-custom {
  background-color: #e0e0e0;
}
